html, body {
    height: 100%;
    background-color: #333 !important;
    /* display: flex; */
    color: #fff !important;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}

.default {
  background: url(https://source.unsplash.com/7fOU7gCulR4) no-repeat;
}

.clouds {
  background: url(https://source.unsplash.com/eLWPw5aXXn8) no-repeat;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 100% 100% !important;
}

.clear {
  background: url(https://source.unsplash.com/0MPM8Qxb3U4) no-repeat;
}

.snow {
  background: url(https://source.unsplash.com/h3dTrmsgnC8) no-repeat;
}

.storm {
  background: url(https://source.unsplash.com/iaBAzfjnKks) no-repeat;
}

.sun {
  background: url(https://source.unsplash.com/CakC6u4d95g) no-repeat;
}

.fog {
  background: url(https://source.unsplash.com/EPmvy-Ql4U0) no-repeat;
}
